//colors
$bodycolor           : #D24D57;
$black           	 : #000;
$white               : #fff;
$color_gray          : #d3d3d3;
$red                 : #d3d3d3;
$maroon              : #d3d3d3;
$color_tuatara       : #d3d3d3;
$color_shark         : #d3d3d3;
$color_mischka       : #d3d3d3;
$color_mercury       : #d3d3d3;
$color_bon_jour      : #d3d3d3;
$color_gallery       : #d3d3d3;
$color_stack         : #d3d3d3;
$color_alabaster     : #d3d3d3;
$color_tundora       : #d3d3d3;
$color_fuscous_gray  : #d3d3d3;
$color_alabaster     : #d3d3d3;
$color_celeste       : #d3d3d3;
$color_pink_swan     : #d3d3d3;
$comp-color 	     : complement(#222); 

//button colors
$success			 : #5cb85c;
$warning			 : #dd8338;
$danger				 : #C64537;
$info		         : #308cbc;

//fonts
$font1               : 'SF Pro', -apple-system, BlinkMacSystemFont, 'Roboto', 'Fira Sans', Oxygen-Sans, Ubuntu, Cantarell, 'Fira Sans', sans-serif;
$font2               : Inconsolata;
$alt-font            : serif;
$doc-font-size       : 16;
$doc-line-height     : 26;

//media
$small               : "only screen and (max-width: 30em)";
$medium              : "only screen and (min-width: 30.1em) and (max-width: 48em)";
$large               : "only screen and (min-width: 48.1em) and (max-width: 62.5em)";
$notsmall            : "only screen and (min-width: 48em)";
